{% trans_default_domain "LZCorePublicBundle" %}

<div class="modal-header">
    {{ "platforms.confirm_platform"|trans }}
</div>
<form ng-submit="confirmPlatform()">
    <div class="modal-body">
        {{ "platforms.confirmation_method_t"|trans }}:
        <table>
            <tr>
                <td><input type="radio" ng-model="confirmationMethod" value="{{ constant('LinkZone\\Core\\PublicBundle\\Entity\\Platform::CONFIRMATION_METHOD_HTML_TAG') }}" checked="checked"></td>
                <td>{{ "platforms.confirmation_method.html_tag"|trans }}</td>
            </tr>
            <tr>
                <td><input type="radio" ng-model="confirmationMethod" value="{{ constant('LinkZone\\Core\\PublicBundle\\Entity\\Platform::CONFIRMATION_METHOD_META_TAG') }}"></td>
                <td>{{ "platforms.confirmation_method.meta_tag"|trans }}</td>
            </tr>
            <tr>
                <td><input type="radio" ng-model="confirmationMethod" value="{{ constant('LinkZone\\Core\\PublicBundle\\Entity\\Platform::CONFIRMATION_METHOD_TXT_FILE') }}"></td>
                <td>{{ "platforms.confirmation_method.txt_file"|trans }}</td>
            </tr>
        </table>

        <div ng-show="isConfirmationMethod('{{ constant('LinkZone\\Core\\PublicBundle\\Entity\\Platform::CONFIRMATION_METHOD_HTML_TAG') }}')" class="round-border">
            <ol>
                <li>
                    {{ "platforms.confirmation_instruction.html_tag.first_item.part_one"|trans }}
                    <code>{{ linkzone_hostname }}_{% verbatim %}{{ platform.confirmation_code }}{% endverbatim %}.html</code>
                    {{ "platforms.confirmation_instruction.html_tag.first_item.part_two"|trans }}:
                    <div>
                        <pre>
&lt;html&gt;
    &lt;head&gt;
        &lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8"&gt;
    &lt;/head&gt;
    &lt;body&gt;Confirmation: &lt;span id="{{ confirmation_code_string_name }}"&gt;{% verbatim %}{{ platform.confirmation_code }}{% endverbatim %}&lt;/span&gt;&lt;/body&gt;
&lt;/html&gt;</pre>
                    </div>
                </li>
                <li>{{ "platforms.confirmation_instruction.html_tag.second_item"|trans }}</li>
                <li>
                    {{ "platforms.confirmation_instruction.html_tag.third_item"|trans }}
                    {% verbatim %}
                        <a href="{{ platform.url }}{% endverbatim %}{{ linkzone_hostname }}{% verbatim %}_{{ platform.confirmation_code }}.html">
                            {{ platform.url }}{% endverbatim %}{{ linkzone_hostname }}{% verbatim %}_{{ platform.confirmation_code }}.html
                        </a>
                    {% endverbatim %}
                </li>
                <li>{{ "platforms.confirmation_instruction.html_tag.fourth_item"|trans }}</li>
            </ol>
        </div>
        <div ng-show="isConfirmationMethod('{{ constant('LinkZone\\Core\\PublicBundle\\Entity\\Platform::CONFIRMATION_METHOD_META_TAG') }}')" class="round-border">
            <ol>
                <li>
                    {{ "platforms.confirmation_instruction.meta_tag.first_item"|trans }}
                    <pre>&lt;meta name='{{ linkzone_hostname }}-{{ confirmation_code_string_name }}' content='{% verbatim %}{{ platform.confirmation_code }}{% endverbatim %}' /&gt;</pre>
                </li>
                <li>{{ "platforms.confirmation_instruction.meta_tag.second_item"|trans }}</li>
                <li>{{ "platforms.confirmation_instruction.meta_tag.third_item"|trans }}</li>
            </ol>
        </div>
        <div ng-show="isConfirmationMethod('{{ constant('LinkZone\\Core\\PublicBundle\\Entity\\Platform::CONFIRMATION_METHOD_TXT_FILE') }}')" class="round-border">
            <ol>
                <li>
                    {{ "platforms.confirmation_instruction.txt_file.first_item.part_one"|trans }}
                    <code>{{ linkzone_hostname }}_{% verbatim %}{{ platform.confirmation_code }}{% endverbatim %}.txt</code>
                    {{ "platforms.confirmation_instruction.txt_file.first_item.part_two"|trans }}
                </li>
                <li>{{ "platforms.confirmation_instruction.txt_file.second_item"|trans }}</li>
                <li>
                    {{ "platforms.confirmation_instruction.txt_file.third_item"|trans }}

                    {% verbatim %}
                        <a href="{{ platform.url }}{% endverbatim %}{{ linkzone_hostname }}{% verbatim %}_{{ platform.confirmation_code }}.txt">
                            {{ platform.url }}{% endverbatim %}{{ linkzone_hostname }}{% verbatim %}_{{ platform.confirmation_code }}.txt
                        </a>.
                    {% endverbatim %}

                </li>
                <li>{{ "platforms.confirmation_instruction.txt_file.fourth_item"|trans }}</li>
            </ol>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-primary">{{ "common.cancel"|trans }}</button>
        <button type="submit" class="btn btn-primary">{{ "platforms.confirm"|trans }}</button>
    </div>
</form>
