{% trans_default_domain "LZCorePublicBundle" %}

<div class="modal-header">
    {{ "platforms.activate_platform"|trans }}
</div>
<form ng-submit="confirmPlatform()">
    <div class="modal-body">
        {{ "platforms.activation_method_t"|trans }}:
        <table>
            <tr>
                <td><input type="radio" ng-model="activationMethod" value="html_tag" checked="checked"></td>
                <td>{{ "platforms.activation_method.html_tag"|trans }}</td>
            </tr>
            <tr>
                <td><input type="radio" ng-model="activationMethod" value="meta_tag"></td>
                <td>{{ "platforms.activation_method.meta_tag"|trans }}</td>
            </tr>
            <tr>
                <td><input type="radio" ng-model="activationMethod" value="txt_file"></td>
                <td>{{ "platforms.activation_method.txt_file"|trans }}</td>
            </tr>
        </table>

        <div ng-show="isActivationMethod('html_tag')" class="round-border">
            <ol>
                <li>
                    {{ "platforms.activation_instruction.html_tag.first_item.part_one"|trans }}
                    {% verbatim %}
                    <code>linkzone.ru_{{ platform.activation_code }}.html</code>
                    {% endverbatim %}
                    {{ "platforms.activation_instruction.html_tag.first_item.part_two"|trans }}:
                    <div>
                        <pre>
&lt;html&gt;
    &lt;head&gt;
        &lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8"&gt;
    &lt;/head&gt;
    &lt;body&gt;Verification: &lt;span id="verification-code"&gt;{% verbatim %}{{ platform.activation_code }}{% endverbatim %}&lt;/span&gt;&lt;/body&gt;
&lt;/html&gt;</pre>
                    </div>
                </li>
                <li>{{ "platforms.activation_instruction.html_tag.second_item"|trans }}</li>
                <li>
                    {{ "platforms.activation_instruction.html_tag.third_item"|trans }}
                    {% verbatim %}
                    <a href="{{ platform.url }}linkzone.ru_{{ platform.activation_code }}.html">{{ platform.url }}linkzone.ru_{{ platform.activation_code }}.html</a>
                    {% endverbatim %}
                </li>
                <li>{{ "platforms.activation_instruction.html_tag.fourth_item"|trans }}</li>
            </ol>
        </div>
        <div ng-show="isActivationMethod('meta_tag')" class="round-border">
            <ol>
                <li>
                    {{ "platforms.activation_instruction.meta_tag.first_item"|trans }}
                    <pre>&lt;meta name='linkzone.ru-verification' content='{% verbatim %}{{ platform.activation_code }}{% endverbatim %}' /&gt;</pre>
                </li>
                <li>{{ "platforms.activation_instruction.meta_tag.second_item"|trans }}</li>
                <li>{{ "platforms.activation_instruction.meta_tag.third_item"|trans }}</li>
            </ol>
        </div>
        <div ng-show="isActivationMethod('txt_file')" class="round-border">
            <ol>
                <li>
                    {{ "platforms.activation_instruction.txt_file.first_item.part_one"|trans }}
                    {% verbatim %}
                    <code>linkzone.ru_{{ platform.activation_code }}.txt</code>
                    {% endverbatim %}
                    {{ "platforms.activation_instruction.txt_file.first_item.part_two"|trans }}
                </li>
                <li>{{ "platforms.activation_instruction.txt_file.second_item"|trans }}</li>
                <li>
                    {{ "platforms.activation_instruction.txt_file.third_item"|trans }}
                    {% verbatim %}
                    <a href="{{ platform.url }}linkzone.ru_{{ platform.activation_code }}.txt">{{ platform.url }}linkzone.ru_{{ platform.activation_code }}.txt</a>.
                    {% endverbatim %}
                </li>
                <li>{{ "platforms.activation_instruction.txt_file.fourth_item"|trans }}</li>
            </ol>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-primary">{{ "common.cancel"|trans }}</button>
        <button type="submit" class="btn btn-primary">{{ "platforms.confirm"|trans }}</button>
    </div>
</form>
