{% trans_default_domain "LZCorePublicBundle" %}

<div class="modal-header">
    {{ "platforms.add_platform"|trans }}
</div>
<form ng-submit="addPlatform()">
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label for="platform_url">{{ "platforms.address"|trans }}:</label>
                {{ form_widget(platformDialog.url) }}
            </div>
            <div class="form-group">
                <label for="platform_topic">{{ "platforms.topic"|trans }}:</label>
                {{ form_widget(platformDialog.topic) }}
            </div>
            <div class="form-group">
                <label for="platform_description">{{ "platforms.description"|trans }}:</label>
                {{ form_widget(platformDialog.description) }}
            </div>
            <div class="form-group">
                <label for="platform_hidden">{{ "platforms.hide"|trans }}:</label>
                {{ form_widget(platformDialog.hidden) }}
            </div>
            <div class="form-group">
                <label for="platform_tags">{{ "platforms.keywords"|trans }}:</label>
                <div>
                    <tags-input ng-model="tags"></tags-input>
                </div>
            </div>
            {{ form_widget(platformDialog._token) }}
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-primary">{{ "common.cancel"|trans }}</button>
        <button type="submit" class="btn btn-primary">{{ "common.add"|trans }}</button>
    </div>
</form>
<div class="modal-footer">
    Some footer
</div>
