{% trans_default_domain "LZCorePublicBundle" %}

<div class="center">
    <table>
        <tbody>
            <tr>
                <td>{{ "platforms.address"|trans }}:</td>
                <td>{{ form_widget(platformDialog.url) }}</td>
            </tr>
            <tr>
                <td>{{ "platforms.topic"|trans }}:</td>
                <td>{{ form_widget(platformDialog.topic) }}</td>
            </tr>
            <tr>
                <td>{{ "platforms.description"|trans }}:</td>
                <td>{{ form_widget(platformDialog.description) }}</td>
            </tr>
            <tr>
                <td>{{ "platforms.hide"|trans }}:</td>
                <td>{{ form_widget(platformDialog.hidden) }}</td>
            </tr>
            <tr>
                <td>{{ "platforms.keywords"|trans }}:</td>
                <td>
                    <ul id="platform_tags">
                    {% if (platformTags and platformTags.count > 0) %}
                        {% for tag in platformTags %}
                            <li>{{ tag }}</li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

</div>
