{% trans_default_domain "LZCorePublicBundle" %}

<h1>{{ "menu.platforms_search"|trans }}</h1>

<div id="filter_box" class="round_border clearfix">
    <ng-include src="'/app_dev.php/partials/platforms/search-filter.html'"></ng-include>
</div>

<div id="platform_list" class="round_border"  ng-controller="ResultTableController">
    <table ng-table="tableParams" class="table">
        <tr ng-repeat="platform in platforms">

            <td data-title="'{{ "common.site"|trans }}'">
                {% verbatim %}<a href="{{ platform.url }}">{{ platform.url }}</a>{% endverbatim %}
            </td>

            <td data-title="'{{ "platforms.tyc"|trans }}'" sortable="platform.id">
                {% verbatim %}{{ platform.id }}{% endverbatim %}
            </td>

            <td data-title="'{{ "platforms.pr"|trans }}'" sortable="platform.topic">
                {% verbatim %}{{ platform.topic }}{% endverbatim %}
            </td>

            <td data-title="'{{ "platforms.yandex_index"|trans }}'">
                {% verbatim %}{{ platform.owner.lastLogin }}{% endverbatim %}
            </td>

            <td data-title="'{{ "platforms.google_index"|trans }}'">
                {% verbatim %}{{ platform.owner.username }}{% endverbatim %}
            </td>

            <td data-title="'{{ "platforms.rating"|trans }}'">
                {% verbatim %}{{ platform.url }}{% endverbatim %}
            </td>

            <td data-title="'{{ "platforms.articles_index"|trans }}'">
                {% verbatim %}{{ platform.url }}{% endverbatim %}
            </td>

            <td data-title="'{{ "common.actions"|trans }}'">
                <button class="btn"
                        ng-click="openSendOrderDialog(platform)">{{ "platforms.search.send_request"|trans }}</button>
            </td>
        </tr>
    </table>
    <span class="message_info">{{ "platforms.search.no_results"|trans }}</span>
</div>

<div id="dialog-add-platform" class="invisible" title="{{ "orders.send_order"|trans }}"></div>

<input type="hidden" id="string-send-order" value="{{ "orders.send_order"|trans }}"/>
<input type="hidden" id="string-cancel" value="{{ "common.cancel"|trans }}"/>
