{% trans_default_domain "LZCorePublicBundle" %}

<div class="center">
    <table>
        <tbody>
            <tr>
                <td>{{ "orders.platform_for_order"|trans }}:</td>
                <td>{{ form_widget(sendRequestDialog.senderPlatform) }}</td>
            </tr>
            <tr>
                <td>{{ "orders.your_link"|trans }}:</td>
                <td>{{ form_widget(sendRequestDialog.senderLink) }}</td>
            </tr>
            <tr>
                <td>{{ "orders.anchor"|trans }}:</td>
                <td>{{ form_widget(sendRequestDialog.senderLinkText) }}</td>
            </tr>
        </tbody>
    </table>
    {{ form_widget(sendRequestDialog.receiverPlatformId) }}
    {{ form_widget(sendRequestDialog._token) }}

</div>
