{% extends "LinkZoneCoreAdminBundle::layout.html.twig" %}

{% trans_default_domain "LZCoreAdminBundle" %}

{% block title %}{{ parent() }} - {{ "user_management.user_management"|trans({"%username%": user.username}) }}{% endblock %}

{% block body %}
<h1 class="center">{{ "user_management.user_management"|trans({"%username%": user.username}) }}</h1>

<div id="um_top_block" class="round_border">
    <form action="" method="POST" {{ form_enctype(statusDropDown) }}>
        {{ form_widget(statusDropDown.status)}}
    </form>
</div>

<div>
    <div id="um_left_block" class="round_border">
        <div class="round_border">
            <table class="table_common um_table_common">
                <tbody>
                    <tr>
                        <td>{{ "common.email"|trans }}</td>
                        <td>
                            <input type="text" id="im_field_email" value="{{ user.email }}" />
                        </td>
                        <td><a href="#" id="im_field_email_link">{{ "common.change"|trans }}</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href="#" id="im_reset_password_link">{{ "user_management.reset_password"|trans }}</a></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="round_border">
            <h3 class="center">{{ "user_management.billing_data"|trans }}</h3>
            <table class="table_common um_table_common">
                <tbody>
                    <tr>
                        <td>{{ "user_management.billing.yaDengy"|trans }}</td>
                        <td>
                            <input type="text" id="im_field_yadengy" value="{{ user.billingYaDengy }}" />
                        </td>
                        <td><a href="#" id="im_field_yadengy_link">{{ "common.change"|trans }}</a></td>
                    </tr>
                    <tr>
                        <td>{{ "user_management.billing.webmoney.wmr"|trans }}</td>
                        <td>
                            <input type="text" id="im_field_wmr" value="{{ user.billingWMR }}" />
                        </td>
                        <td><a href="#" id="im_field_wmr_link">{{ "common.change"|trans }}</a></td>
                    </tr>
                    <tr>
                        <td>{{ "user_management.billing.webmoney.wmz"|trans }}</td>
                        <td>
                            <input type="text" id="im_field_wmz" value="{{ user.billingWMZ }}" />
                        </td>
                        <td><a href="#" id="im_field_wmz_link">{{ "common.change"|trans }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div></div>
    </div>
    <div id="um_right_block" class="round_border">
        <div class="round_border">
            <table class="table_common">
                <tbody>
                    <tr>
                        <td>{{ "user_management.ballance"|trans }}:</td>
                        <td>{{ user.ballance|number_format(2) }}</td>
                    </tr>
                    <tr>
                        <td>{{ "user_management.bonus"|trans }}:</td>
                        <td>{{ user.bonus|number_format(2) }}</td>
                    </tr>
                </tbody>
            </table>
            <a href="#" id="im_add_bonus_link">+ {{ "user_management.add_bonus"|trans }}</a>
        </div>
        <div class="round_border">
            <h3 class="center">{{ "user_management.referrals"|trans }}</h3>
            <table class="table_common">
                <tbody>
                    <tr>
                        <td>{{ "common.user"|trans }}</td>
                        <td>{{ "user_management.spent"|trans }}</td>
                        <td>{{ "user_management.referral_funds"|trans }}</td>
                    </tr>
                    {% for referral in userReferrals %}
                    <tr>
                        <td><a href="{{ path("linkzone_core_admin_manage_user", {"userId": referral.id}) }}">{{ referral.username }}</a></td>
                        <td>{{ referral.id }}</td>
                        <td>{{ referral.id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="dialog-add-bonus" title="{{ "user_management.add_bonus"|trans }}">
    <div class="center">
        <label for="um_modal_amount">{{ "user_management.amount"|trans }}:</label>
        <input type="text" id="um_modal_amount" class="" value="" />
    </div>

    <div class="center">
        <label for="um_modal_comment">{{ "user_management.comment"|trans }}*:</label>
        <textarea id="um_modal_comment" class="" cols="15" rows="3"></textarea>
    </div>
</div>

<div id="dialog-change-status" title="">
    <div class="center">
        <span>{{ "user_management.status_change"|trans({"%username%": user.username}) }}<span id="um_modal_status_change_status"></span></span>
    </div>
    <div class="center">
        <label for="um_modal_status_reason">{{ "user_management.reason"|trans }}*:</label>
        <textarea id="um_modal_status_reason" class="" cols="15" rows="3"></textarea>
    </div>
</div>

<input type="hidden" id="userId" name="userId" value="{{ user.id }}" />
<input type="hidden" id="string-add-bonus" value="{{ "user_management.buttons.add_bonus"|trans }}" />
<input type="hidden" id="string-cancel" value="{{ "user_management.buttons.cancel"|trans }}" />
<input type="hidden" id="string-change-status" value="{{ "user_management.buttons.change_status"|trans }}" />

<input type="hidden" id="string-status-ACTIVE" value="{{ "user_management.statuses.ACTIVE"|trans }}" />
<input type="hidden" id="string-status-BLOCKED" value="{{ "user_management.statuses.BLOCKED"|trans }}" />
<input type="hidden" id="string-status-DELETED" value="{{ "user_management.statuses.DELETED"|trans }}" />
<input type="hidden" id="string-status-FUNDS_BLOCKED" value="{{ "user_management.statuses.FUNDS_BLOCKED"|trans }}" />
<input type="hidden" id="string-status-PASSIVE" value="{{ "user_management.statuses.PASSIVE"|trans }}" />

{% endblock %}

{% block javascripts %}
    <script src="{{ asset("bundles/linkzonecoreadmin/js/pages/userManagement.js") }}"></script>
{% endblock %}
