<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ "common.admin_panel"|trans({}, "LZCoreAdminBundle") }}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/smoothness/jquery-ui.css" />
        {% stylesheets 'bundles/linkzonecoreadmin/css/*'  %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header">
        {% block header %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('linkzone_core_admin_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% endif %}
        {% endblock %}
        </div>
        <div id="main_menu">{{ knp_menu_render("main") }}</div>
        <div id="body">{% block body %}{% endblock %}</div>
        <div id="footer"></div>
        <div id="helper_block">
            <div id="icon_loading"><img src="{{ asset("bundles/linkzonecoreadmin/images/ajax-loader.gif") }}" /></div>
            <div id="icon_tick"></div>
            <div id="icon_cross"></div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script src="{{ asset("bundles/linkzonecoreadmin/js/base.js") }}"></script>
        <script src="{{ asset("bundles/linkzonecoreadmin/js/jQueryPlugins.js") }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
