{% trans_default_domain 'FOSUserBundle' %}

<div id="register_form_placeholder">
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    {% if "" != app.request.get("referralValue") %}
    <input type="hidden" name="referralValue" value="{{ app.request.get("referralValue") }}" />
    {% endif %}
    <div>
        <input type="submit" id="_submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
</div>
