{% extends '::public.base.html.twig' %}

{% trans_default_domain "LZCorePublicBundle" %}

{% block title %}{{ parent() }} - {{ "menu.messages"|trans }}{% endblock %}

{% block body %}
<h1 class="center">{{ "menu.messages"|trans }}</h1>
<div id="dialogues-wrapper">
{% for dialog in dialogues %}
    <div class="dialog-box round-border">
        <div>
            <div>{{ "messages.last_received"|trans }}:</div>
            <div class="message"></div>
            <a href="{{ path('linkzone_core_public_orders_dialog', {'dialogId': dialog.id}) }}">{{ dialog.messages[dialog.messages.count-1].message }}</a>
        </div>
        <div>
            <strong>{{ "messages.from"|trans }}: </strong>
            {% if dialog.messages[dialog.messages.count-1].senderPlatform.owner == app.user %}
                {{ "messages.from_you"|trans }}
            {% else %}
                {{ "common.webmaster"|trans }} <a href="{{ dialog.messages[dialog.messages.count-1].senderPlatform.url }}">{{ dialog.messages[dialog.messages.count-1].senderPlatform.url }}</a>
            {% endif %}
        </div>
        <div>
            <strong>{{ "messages.to"|trans }}: </strong>
            {% if dialog.messages[dialog.messages.count-1].receiverPlatform.owner == app.user %}
                {{ "messages.to_you"|trans }}
            {% else %}
                {{ "common.webmaster"|trans }} <a href="{{ dialog.messages[dialog.messages.count-1].receiverPlatform.url }}">{{ dialog.messages[dialog.messages.count-1].receiverPlatform.url }}</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("bundles/linkzonecorepublic/js/pages/orders/messaging.js") }}"></script>
{% endblock %}