<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Administration{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets 'bundles/linkzonecorepublic/css/login.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="body">
            {% if error %}
                <div>{{ error.message }}</div>
            {% endif %}

            <div id="login_form_placeholder">
                <form action="{{ path('linkzone_core_admin_login_check') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div>
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" />
                    </div>

                    <div>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" />
                    </div>
                    <button type="submit">login</button>
                </form>
            </div>
        </div>
        <div id="footer"></div>
    </body>
</html>


